<html lang="en">
<body>
<h1>Password Reset</h1>
<p>
    You have requested to reset your password.
</p>
<p>
    To reset your password, click use the code below.
</p>

    <p>
        <%= reset.code %>
    </p>
</body>
</html>
