<%- include('partials/header.layout.ejs'); -%>

<p>Password Reset Instructions,</p>
<p>Please verify your account to complete your registration</p>
<h2><%= verifier.code %></h2>
<p>Team! Footer</p>

<%- include('partials/footer.layout.ejs'); -%>
