<%- include('partials/header.layout'); -%>

<p>Password Reset Instructions,</p>
<p>Please complete your account password reset using the following code</p>
<h2><%= verifier.code %></h2>
<p>Team! Footer</p>

<%- include('partials/footer.layout'); -%>
